body {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-size: 1.125em;
    line-height: 1.56;
    color: #222;
}
h1 {
    font-size: 2em;
    line-height: 1.125;
}
h2 {
    font-size: 1.5em;
}
.sp_highlights {
    max-width: 36em;
    margin: auto;
    padding: 24px;
}
.sp_toc {
    padding-left: 0;
}
.sp_note {
    position: relative;
}
.sp_note-level {
    font-size: 1.8em;
    position: absolute;
    left: -.5em;
    top: 0;
    line-height: 1.5rem;
    color: rgb(184,184,184);
}
.sp_note--yellow .sp_note-level {
    color: rgb(247, 206, 0);
}
.sp_note--blue .sp_note-level {
    color: rgb(66, 165, 255);
}
.sp_note--green .sp_note-level {
    color: rgb(178,233,46);
}
.sp_note--pink .sp_note-level {
    color: rgb(250,170,210);
}
.sp_note--purple .sp_note-level {
    color: rgb(217,171,238);
}

.sp_note-location {
    color: rgb(177, 187, 186);
}
a.sp_note-location {
    text-decoration: none;
}
a.sp_note-location:hover {
    text-decoration: underline;
}
#sp_util-frame {
    display: none;
}

.highlights-input,
.reset-highlights {
    max-width: 36em;
    margin: auto;
    padding: 24px;
}

#load-file {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.highlights-input__dropzone,
.reset-highlights__cta {
    cursor: pointer;
    display: block;
    line-height: 5em;
    padding: 2em;
    text-align: center;
    border: 1px #c7c7c7 dashed;
}

.reset-highlights__cta {
    border-style: solid;
    text-decoration: none;
    color: #222;
}

.highlights-input__dropzone:hover,
.highlights-input__dropzone--active,
.reset-highlights__cta:hover {
    border-color: #999;
    background-color: #f8f8f8;
}

.highlights-input__dropzone__label {
    display: inline-block;
    line-height: 1.5em;
    pointer-events: none;
}

.sp_title {
    margin-bottom: 1rem;
}

.sp_author {
    margin-top: 0;
    color: #666;
    font-size: 1.333em;
}

.sp_section,
.sp_toc {
    margin-bottom: 3em;
}

.is-waiting-for-input .highlights-input {
    display: block;
}

.is-waiting-for-input .reset-highlights {
    display: none;
}

.is-showing-highlights .highlights-input {
    display: none;
}

.is-showing-highlights .reset-highlights {
    display: block;
}